/* ---------------------------------------------- */
/*                  LOAD FONTS                    */
/* ---------------------------------------------- */
@font-face{
    font-family: 'Gilroy';
    src: url(./Gilroy-Regular.woff)format(wolf);
}
/* ---------------------------------------------- */
/*                    GENERAL                     */
/* ---------------------------------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}

html{
    font-size: 16px;
}

.hide{
    display: none;
}

.fadeIn{
    animation: fade 0.5s ease-in-out;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* ---------------------------------------------- */
/*                    HEADER                      */
/* ---------------------------------------------- */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */

    width:100%;
    height: 60px;

    margin: 0 auto;
    background-color: #F3F2F2;
}


/* -------- LOGO -------- */
.logo{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.logo img{
    width: 60px;
}

@keyframes gocorona{
    0% { transform: rotate(0);}
    100% { transform: rotate(360deg);}
}
.logo img:hover{
    animation: gocorona 3s linear infinite;
}
.logo p{
    font-weight: bold;
    color: #6d4d80;
}
/* -------- NAV -------- */
nav{

}

nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li:last-child{
    padding-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #6d4d80;
    padding: 10px;
}

/* ---------------------------------------------- */
/*                      MAIN                      */
/* ---------------------------------------------- */
main{
    margin: 0 auto;
}

/* -------- BG IMAGE -------- */
.stats{
    width: 100%;
    height: 675px;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)) ,url('../img/bg.jpg');
    background-size: cover;
}
.stats p{
    color: pink;
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}
/* -------- LATEST REPORT -------- */
.latest-report{
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    
    color: #fff;
}

.country, .total-cases, .recovered, .deaths{
    height: 100px;
    justify-self: center;
}

.name{
    font-size: 2.2em;
    color: #be64f1;
    font-weight: bold;
}

.change-country{
    cursor: pointer;
}

.title{
    font-size: 1.3em;
}

.total-cases .value{
    font-size: 2em;
    font-weight: bold;
}

.recovered .value{
    font-size: 2em;
    font-weight: bold;
    color: #009688;
}

.deaths{
    grid-column: 2/3;
    grid-row: 2;
}
.deaths .value{
    font-size: 2em;
    font-weight: bold;
    color: #f44336;
}


/* -------- SEARCH COUNTRY -------- */

.search-country{
    position: relative;
    top: 30px;
}

.search-box{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 400px;
    height: 30px;
    background-color: #111;
    z-index: 1;
}

.search-box input{
    width: 360px;
    height: 25px;

    color: #fff;
    padding-left: 10px;
    border: none;
    background-color: transparent;
}

.search-box img{
    width: 20px;
    padding-right: 5px;
    cursor: pointer;
}

.country-list{
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 30px;

    width: 400px;
    height: 300px;

    background-color: #111;
    opacity: 0.8;    
    overflow-y:scroll;
}

.country-list ul{
    width: 100%;
}
.country-list ul li{
    list-style: none;
    cursor: pointer;
    padding: 10px;
    color: #fff;
}

.country-list ul li:hover{
    border-left: 1px solid #fff;

}

/* SCROLL BAR */
.country-list ul li:hover{
    border-left: 1px solid #FFF;
}
/* SCROLL BAR */
.country-list::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .country-list::-webkit-scrollbar-track {
    background: #111;
  }
  
  /* Handle */
  .country-list::-webkit-scrollbar-thumb {
    background: #F1F1F1;
  }
  
  /* Handle on hover */
  .country-list::-webkit-scrollbar-thumb:hover {
    background: #FFF;
  }
/* ---------------------------------------------- */
/*                    FOOTER                      */
/* ---------------------------------------------- */
footer{
    height: 60px;

    margin: 0 auto;
    background-color: #6a149b;
}

.footer-container{
    height: 100%;
    display: flex;
    justify-content: center;
}

.copyright{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copyright p{
    color: rgb(10, 3, 3);
}

/* ---------------------------------------------- */
/*             SCREEN WIDTH < 600px               */
/* ---------------------------------------------- */
@media screen and (max-width: 650px){
    .latest-report{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}